.home{
    background-color: var(--background-color_g);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
    scroll-snap-type: mandatory;
}
.container{
    padding: 150px 4rem 25px 4rem;
    margin: 0 auto;
    max-width: 107rem;
}
.hero-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
}
.hero-main .hero-text{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    position: relative;
    animation: visibility 1s;
}
.hero-main .hero-text h1{
    color: var(--color);
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    opacity: 0;
    animation: LandingPageFadeInUp1 1s ease-in-out forwards;
}
.hero-main .hero-text p{
    color: var(--land_p);
    font-family: 'Mulish',sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    width: 80%;
    opacity: 0;
    animation: LandingPageFadeInUp2 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
}
.hero-main .hero-text span{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.3rem;
    margin: 2.5rem 0;
    opacity: 0;
    animation: LandingPageFadeInUp2 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
}
.hero-main .hero-text span a {
    color: var(--land_p);
    font-size: 3rem;
}
.hero-main .hero-img{
    -webkit-animation: morph 5s ease-in-out infinite, LandingPageFade 1s ease-in-out forwards 0.75s;
    animation: morph 5s ease-in-out infinite, LandingPageFade 1s ease-in-out forwards 0.75s;
    background-image: url(../images/heroIMG.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--color);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
@keyframes visibility {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.container .skills {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    opacity: 0;
    animation: LandingPageslideInRight 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}
.container .skills p {
    border-right: 2px solid var(--land_b);
    color: var(--color);
    font-family: 'Mulish',sans-serif;
    font-weight: 500;
    margin-right: 7rem;
    padding-right: 2rem;
}
.container .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.container .skills ul li {
    cursor: pointer;
}
.container .skills ul li svg {
    transition: all .3s ease-in-out;
}
.container .skills ul li svg:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

@media screen and (max-width: 1000px){
    .home{
        height: fit-content;
    }
    .container{
        padding: 150px 2rem 25px 2rem;
        margin: 0;
        max-width: 100%;
    }
    .hero-main{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
    .hero-main .hero-text{
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        position: relative;
        animation: visibility 1s;
    }
    .hero-main .hero-img{
        width: 40rem;
        height: 40rem;
        object-fit: cover;
    }
    .container .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.7rem;
        gap: 3rem;
        opacity: 0;
        width: 100%;
    }
    .container .skills p {
        border-right: none;
        margin-right: 0;
        padding-bottom: 0rem;
        max-width: 60rem;
        width: 100%;
    }
    .container .skills .logos {
        max-width: 60rem;
        width: 100%;
    }
}
@media (max-width: 653px){
    .hero-main .hero-text h1{
        font-size: 5rem;
    }
}
@media (max-width: 581px){
    .hero-main .hero-text p{
        width: 85%;
    }
}
@media (max-width: 560px){
    .hero-main .hero-text h1{
        font-size: 4.5rem;
    }
    .hero-main .hero-text p{
        width: 90%;
    }
} 
@media (max-width: 508px){
    .hero-main .hero-text h1{
        font-size: 4rem;
    }
    .hero-main .hero-text p{
        width: 95%;
    }
}
@media (max-width: 456px){
    .hero-main .hero-img{
        height: 35rem;
        width: 35rem;
    }
    .hero-main .hero-text h1{
        font-size: 3.5rem;
    }
    .hero-main .hero-text p{
        font-size: 1.6rem;
    }
}
@media (max-width: 404px){
    .hero-main .hero-img{
        height: 30rem;
        width: 30rem;
    }
    .hero-main .hero-text h1{
        font-size: 3rem;
    }
    .hero-main .hero-text p{
        font-size: 1.45rem;
    }
    .container .skills ul {
        gap: 2rem;
    }
}
@media (max-width: 365px){
    .container .skills ul {
        gap: 1rem;
    }
}
@media (max-width: 352px){
    .hero-main .hero-img{
        height: 25rem;
        width: 25rem;
    }
    .hero-main .hero-text h1{
        font-size: 2.5rem;
    }
    .hero-main .hero-text p{
        font-size: 1.35rem;
    }
}
@media (max-width: 301px){
    .hero-main .hero-img{
        height: 22.5rem;
        width: 22.5rem;
    }
    .hero-main .hero-text h1{
        font-size: 2rem;
    }
    .hero-main .hero-text p{
        font-size: 1.25rem;
    }
}
@keyframes LandingPageFade{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes LandingPageFadeInUp1 {
    0% { opacity: 0; transform: translateY(20%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes LandingPageFadeInUp2 {
    0% { opacity: 0; transform: translateY(130%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes LandingPageslideInRight {
    0% { opacity: 0; transform: translateX(20%); }
    100% { opacity: 1; transform: translateX(0); }
}

