.motionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.127);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    height: 100vh;
    /* backdrop-filter: blur(.2rem); */
}
.projectInfoBanner{
    width: 950px;
    height:650px;
    background: var(--background-color_w);
    border-radius: 8px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.116);
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow-y: scroll;
}
.coLgFrst{
    width: 100%;
    padding:  50px 75px 75px 75px;
}
.coLgFrst .projectInfoContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coLgFrst .projectInfoContent{
    margin-bottom: 1rem;
}
.coLgFrst .projectInfoContent .projectNameDiv .projectTitleLik{
    display: flex;
    align-items: center;
    gap: 5px;
}
.coLgFrst .projectInfoContent .projectNameDiv .projectTitleLik h1{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    cursor: pointer;
}
.coLgFrst .projectInfoContent .projectNameDiv .projectTitleLik h1:hover{
    color: #147efb;
}
.coLgFrst .projectInfoContent .projectNameDiv .projectTitleLik svg{
    color: #147efb;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.coLgFrst .projectInfoContent .projectNameDiv .projectTitleLik h1:hover +  svg{
    transform: scale(1);
}
.coLgFrst .projectInfoContent .projectNameDiv .ProjectContr h3{
    color: var(--land_p);
    font-weight: 200;
    font-style: italic;
    margin-bottom: 1rem;
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 0.5rem;
}
.coLgFrst .projectInfoContent .projectNameDiv .ProjectContr h3 span{
    color: var(--clr_h3);
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
}
.coLgFrst .projectInfoContent .projectNameDiv .ProjectContr h3 span:hover{
    color: #147efb;
}

.coLgFrst .projectInfoContent .projectClose svg{
    color: var(--color);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.coLgFrst .projectInfoContent .projectClose svg:hover{
    transform: rotate(180deg);
    color: #147efb;
}
.coLgFrst .imgInfoBanner{
    display: flex;
    justify-content: center;
    width:800px;
    height:450px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    border-radius: 4px;
    /* box-shadow: var(--bx_shdw); */
    border: 1px dashed var(--land_p);

}
.coLgFrst .imgInfoBanner img{
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}
.coLgFrst .imgInfoBanner:hover img {
    border-radius: 4px;
    animation: scrollAnimation 5s linear forwards;
}
@keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100%);
    }
}
.coLgFrst .projectInfoText{
    margin-top: 2rem;
}
.coLgFrst .projectInfoText h2{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    cursor: pointer;
}
.coLgFrst .projectInfoText p{
    color: var(--land_p);
    font-size: 1.5rem;
    line-height: 1.8;
}

.coLgFrst .hr{
    opacity: 0.5;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
  
.projectInfoText .projectTeckStack{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 2rem;
}
.projectInfoText .projectTeckStack .TeckStackSlot1 ul{
    padding-left: 15px;
}
.projectInfoText .projectTeckStack .TeckStackSlot2 ul{
    /* padding-left: 15px; */
}
.projectInfoText .projectTeckStack .TeckStackSlot3 ul{
    /* padding-left: 15px; */
}
.projectInfoText .projectTeckStack .TeckStackSlot1 ul li{
    color: var(--land_p);
    font-size: 1.3rem;
    line-height: 1.8;
}
.projectInfoText .projectTeckStack .TeckStackSlot2 ul li{
   color: var(--land_p);
    font-size: 1.3rem;
    line-height: 1.8;
}
.projectInfoText .projectTeckStack .TeckStackSlot3 ul li{
   color: var(--land_p);
    font-size: 1.3rem;
    line-height: 1.8;
}

