.Projects{
    background-color: var(--background-color_g);
    height: fit-content;
}
.ProjectsContainer{
    margin: 0 auto;
    padding: 115px 4rem 115px 4rem;
    max-width: 107rem;
}

.Projects-content h2{
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.Projects-content h3{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.projects-categ{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--background-color_w);
    width: fit-content;
    padding: 8px 8px;
    border-radius: 0.75rem;
    border: 2px dashed var(--land_b);
}

.custom-button-projects {
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem; 
    width: fit-content;
    text-align: center;
    cursor: pointer;
    border-radius: 0.40rem;
    transition: all 0.2s ease;
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.custom-button-projects:hover {
    background-color: var(--background-color_g);
}
.custom-button-projects.active {
    background-color: #005FCC;
    color: white;
}
.projects-grid{
    height: auto;
    width: 100%;
    padding-top: 35px;
    flex-wrap: wrap;
}
.projects-grid .box{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
}
.projects-grid .pro__1 {
    height: fit-content;
    padding: 1.5rem;
    border: 1px dashed rgba(255, 255, 255, 0.504);
}
.projects-grid .pro {
    background-color: var(--bg_bnner_prt);
    border-radius: 0.75rem;
    box-shadow: var(--bx_shdw);
    flex: 1 1 calc(33% - 3rem);
    max-width: calc(33% - 3rem);
    -webkit-box-shadow: var(--bx_shdw);
    -moz-box-shadow:var(--bx_shdw);
    cursor: pointer;
}
.projects-grid .pro .projectsLink{
    text-decoration: none;
}
.projects-grid .pro__img {
    filter: brightness(97%);
    border-radius: 0.25rem;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.projects-grid .pro__img img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
.projects-grid .pro__text {
    width: 100%;
}
.projects-grid .pro__text h3 {
    color: var(--color);
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-block-start: 0.5rem;
}


.projects-grid .pro__text p {
    color: var(--land_p);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    width: 100%;
    margin-block-start: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .ProjectsContainer{
        padding: 115px 2rem 115px 2rem;
    }
    .Projects-content h3{
        font-size: 2.25rem;
    }
    .projects-grid .box{
        gap: 2rem;
    }
    .projects-grid .pro {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}
@media (max-width: 897px) {
    .projects-grid .pro {
        width: 48%;
    }
    .projects-grid .pro__text p {
        -webkit-line-clamp: 3;
    }
    
}
@media (max-width: 750px) {
    .projects-grid .pro__text p {
        -webkit-line-clamp: 4;
    }
}
@media (max-width: 700px) {
    .projects-grid .box{
        gap: 2rem;
    }
    .projects-grid .pro {
        flex: 1 1 calc(100% - 2rem);
        max-width: calc(100% - 0rem);
    }
}