.AlertDes{
    position: absolute;
    position: fixed;
    display: grid;
    top: 0;
    right: 0;
    width: 20%;
    content: normal;
    height: fit-content;
    padding: 0px 20px 0px 0px;
    margin-top: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #17950b86;
    border: 1px solid rgba(255, 255, 255, 0.852);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.100);
    background: linear-gradient(90deg, rgba(23, 149, 11, 0.400) 0%, rgba(23, 149, 11, 0.300) 20%,rgba(23, 149, 11, 0.200) 40%, rgba(255,255,255,1) 100%);
}
.AlertDes .AlertContent{
    display: flex;
    flex: 3;
    padding: 15px 10px 15px 10px;
    gap: 15px;
}
.AlertDes .CircleIconAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ffffffda;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.090);
}
.AlertDes .CircleIconAlert .succIcon{
    font-size: 1.5rem;
    color: rgba(23, 149, 11, 0.833);
}
.AlertContent .TextAlert{
    width: 90%;
}
.AlertContent .TextAlert h2{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
}
.AlertContent .TextAlert h4{
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 1.15rem;
    line-height: 1.2;
    font-weight: 500;
}
.AlertContent .CloseAlertIcon svg{
    cursor: pointer;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    justify-content: flex-end;
    align-items: self-end;
    height: 2px; /* Adjust the height of the line */
    background-color: green;
    width: 0;
    animation: progressBarAnimation 5s linear forwards; /* Match the timeout value in milliseconds */
  }

  @keyframes progressBarAnimation {
    100% {
      width: 100%;
    }
  }