section {
    display: block;
    height: 100vh;
}
.about{
    background-color: var(--background-color_w);
    padding: 15rem 0;
}
.AboutContainer{
    margin: 0 auto;
    max-width: 107rem;
    padding: 50px 4rem;
}
.about-content {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.img-side {
    position: relative;
}
.work-emoji {
    bottom: 35px;
    position: absolute;
    right: 98px;
    width: 6rem!important;
    z-index: 10;
}
.img-side__main-img {
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}
.img-side span {
    background-color: var(--background-color_w);
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}
.img-side span img {
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
    width: 19rem;
}
.img-side .AchrafWaterMak{
    position: absolute;
}
.img-side .AchrafWaterMak img{
    width: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;

}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

/* .text-side {
    padding-right: 1.5rem;
} */
.text-side h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.text-side h4 {
    color: var(--color);
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.text-side p {
    color: var(--land_p);
    font-family: Mulish,sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}